@using BlazorAppLee.JsonPuzzleEditor.Models
@inherits BlazorAppLee.JsonPuzzleEditor.Components.PuzzlePieces.PuzzlePieceBase

<div class="number-piece-content">
    <div class="piece-label">Number</div>
    <input @bind="NumberPieceModel.Value" 
           @bind:event="oninput"
           type="number"
           placeholder="0"
           class="piece-input" />
</div>

@code {
    [Parameter] public JsonNumberPiece NumberPieceModel { get; set; } = null!;
    [Parameter] public EventCallback OnValueChangedCallback { get; set; }

    protected override void OnInitialized()
    {
        Piece = NumberPieceModel;
        NumberPieceModel.PropertyChanged += async (s, e) =>
        {
            if (e.PropertyName == nameof(NumberPieceModel.Value))
            {
                await OnValueChangedCallback.InvokeAsync();
            }
        };
        base.OnInitialized();
    }
}